/*
** Xft config
*/
Xft.dpi:       96
Xft.antialias: 1
Xft.autohint:  0
Xft.rgba:      rgb
Xft.hinting:   1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

! Fix backspace key in terminal
! Remaps backspace key from <c-h> to <c-?>, and remaps <c-space> to <c-h>.
*VT100.Translations:#override \
      ~Ctrl<Key>BackSpace:string(0x7F)\n\
       Ctrl<Key>BackSpace:string(0x08)\n
*ttyModes:erase ^?

! Fix backspace key in vim
*VT100.backarrowKey:false

XTerm*faceName:         xft:Cousine
xterm*faceSize:         15
xterm*boldMode:         false
xterm*cutNewline:       false
xterm*on4Clicks:        group
xterm*on5Clicks:        page
xterm*internalBorder:   1
xterm*background:       #121212
xterm*foreground:       #a0a0a0
!xterm*metaSendsEscape:  true
xterm*colorBD:          #ffffff
xterm*colorBDMode:      true
xterm*cursorBlink:      false
xterm*cursorColor:      #ff9900
xterm*veryBoldColors:   14
xterm*loginShell:       true
xterm*locale:           true
xterm*charClass:        33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48,35:48,58:48,63:48,61:48,44:48,38:48,59:48
xterm*jumpScroll:       true
xterm*multiScroll:      true
xterm*saveLines:        51200
xterm*termName:         xterm-256color

UXTerm*utf8: 1
UXTerm*eightBitInput: false
UXTerm*faceName:         xft:Cousine
UXTerm*faceSize:         15
UXTerm*boldMode:         false
UXTerm*cutNewline:       false
UXTerm*on4Clicks:        group
UXTerm*on5Clicks:        page
UXTerm*internalBorder:   1
UXTerm*background:       #121212
UXTerm*foreground:       #a0a0a0
UXTerm*metaSendsEscape:  true
!UXTerm*altSendsEscape: true
!UXTerm*altIsNotMeta: true
UXTerm*colorBD:          #ffffff
UXTerm*colorBDMode:      true
UXTerm*cursorBlink:      false
UXTerm*cursorColor:      #ff9900
UXTerm*veryBoldColors:   14
UXTerm*loginShell:       true
UXTerm*charClass:        33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48,35:48,58:48,63:48,61:48,44:48,38:48,59:48
UXTerm*jumpScroll:       true
UXTerm*multiScroll:      true
UXTerm*saveLines:        51200
UXTerm*termName:         xterm-256color

UXTerm*color0:                         #3b3d3e
UXTerm*color8:                         #707374
UXTerm*color1:                         #f92672
UXTerm*color9:                         #ff669d
UXTerm*color2:                         #a6e22e
UXTerm*color10:                        #beed5f
UXTerm*color3:                         #fd971f
UXTerm*color11:                        #e6db74
UXTerm*color4:                         #66d9ef
UXTerm*color12:                        #66d9ef
UXTerm*color5:                         #9e6ffe
UXTerm*color13:                        #9e6ffe
UXTerm*color6:                         #5e7175
UXTerm*color14:                        #a3babf
UXTerm*color7:                         #ccccc6
UXTerm*color15:                        #f8f8f2

!---- URxvt - General settings {
URxvt*:borderLess:                    true
URxvt*cursorBlink:                    false
URxvt*jumpScroll:                     true
URxvt*font:                         xft:Inconsolata:regular:size=18,\
                                    xft:Code2000,\
                                    xft:Code2001,\
                                    xft:Code2002,\
                                    xft:Quivire:regular:size=14,\
                                    xft:Unifont:size=14
URxvt*letterSpace: -1

URxvt*scrollBar:                      false
URxvt*scrollTtyOutput:                false
URxvt*scrollTtyKeypress:              true
URxvt*urgentOnBell:                   true
URxvt*visualBell:                     false
!URxvt*perl-ext-common:                default,matcher
URxvt*urlLauncher:                    google-chrome-stable
URxvt*matcher.button:                 1

!---- Default URxvt (Solarized Dark, 12px)
URxvt*fading:                         30
URxvt*background:                     #121212
URxvt*foreground:                     #a0a0a0
!URxvt*fadeColor:                      #002b36
URxvt*cursorColor:                    #dc322f
URxvt*pointerColorBackground:         #586e75
URxvt*pointerColorForeground:         #93a1a1
URxvt*colorUL:                        #859900
URxvt*colorBD:                        #268bd2
URxvt*color0:                         #3b3d3e
URxvt*color8:                         #707374
URxvt*color1:                         #f92672
URxvt*color9:                         #ff669d
URxvt*color2:                         #a6e22e
URxvt*color10:                        #beed5f
URxvt*color3:                         #fd971f
URxvt*color11:                        #e6db74
URxvt*color4:                         #66d9ef
URxvt*color12:                        #66d9ef
URxvt*color5:                         #9e6ffe
URxvt*color13:                        #9e6ffe
URxvt*color6:                         #5e7175
URxvt*color14:                        #a3babf
URxvt*color7:                         #ccccc6
URxvt*color15:                        #f8f8f2

!---- GNU Plot Colours
gnuplot*background:   #e5dfd7
gnuplot*textColor:    black
gnuplot*borderColor:  black
gnuplot*axisColor:    black
gnuplot*line1Color:   #9ed193
gnuplot*line2Color:   #3069b3
gnuplot*line3Color:   #00b5e6
gnuplot*line4Color:   #b8696f
gnuplot*line5Color:   #afbde1
gnuplot*line6Color:   #004b23
gnuplot*line7Color:   #d5bd97
gnuplot*line8Color:   #a681ba

xscreensaver.lock: True
xscreensaver.programs: xmatrix -root -no-trace -no-knock-knock
! Resources for the password and splash-screen dialog boxes of
! the "xscreensaver" daemon.

!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-10-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-10-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)

xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #000000
xscreensaver.Dialog.topShadowColor:     #000000
xscreensaver.Dialog.bottomShadowColor:  #000000
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #666666
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8
